
.player-wrapper {
    position: relative;
    align-items: center;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
    
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }

  .project{
    padding-top:50px;
    text-size-adjust: auto;
    font-size: 27px;
    text-align: center;
    padding-bottom: 10px;
  }